@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

body {
  font-family: karla;
}

img[src*='centerme'] {
  display: block;
  margin: 0 auto;
}

img[src*='col50'] {
  display: inline-block;
  width: 47%;
}

img[src*='w300'] {
  width: 300px;
}

img[src*='w200'] {
  width: 200px;
}

img[src*='inline_block'] {
  display: inline-block;
}

body p > img + em {
  display: block;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.8em;
}
