/**
 * atom-dark theme for `prism.js`
 * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
 * @author Joe Gibson (@gibsjose)
 */

code[class*='language-'],
pre[class*='language-'] {
  color: #c5c8c6 !important;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3) !important;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace !important;
  background: #1d1f21 !important;
  direction: ltr !important;
  text-align: left !important;
  white-space: pre !important;
  word-spacing: normal !important;
  word-break: normal !important;
  line-height: 1.5 !important;

  -moz-tab-size: 4 !important;
  -o-tab-size: 4 !important;
  tab-size: 4 !important;

  -webkit-hyphens: none !important;
  -moz-hyphens: none !important;
  -ms-hyphens: none !important;
  hyphens: none !important;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em !important;
  margin: 0.5em 0 !important;
  overflow: auto !important;
  border-radius: 0.3em !important;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #1d1f21 !important;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em !important;
  border-radius: 0.3em !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7c7c7c !important;
}

.token.punctuation {
  color: #c5c8c6 !important;
}

.namespace {
  opacity: 0.7 !important;
}

.token.property,
.token.keyword,
.token.tag {
  color: #96cbfe !important;
}

.token.class-name {
  color: #ffffb6 !important;
  text-decoration: underline !important;
}

.token.boolean,
.token.constant {
  color: #99cc99 !important;
}

.token.symbol,
.token.deleted {
  color: #f92672 !important;
}

.token.number {
  color: #ff73fd !important;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a8ff60 !important;
}

.token.variable {
  color: #c6c5fe !important;
}

.token.operator {
  color: #ededed !important;
}

.token.entity {
  color: #ffffb6 !important;
  cursor: help !important;
}

.token.url {
  color: #96cbfe !important;
}

.language-css .token.string,
.style .token.string {
  color: #87c38a !important;
}

.token.atrule,
.token.attr-value {
  color: #f9ee98 !important;
}

.token.function {
  color: #dad085 !important;
}

.token.regex {
  color: #e9c062 !important;
}

.token.important {
  color: #fd971f !important;
}

.token.important,
.token.bold {
  font-weight: bold !important;
}

.token.italic {
  font-style: italic !important;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: inherit !important;
}

.language-text {
  color: white !important !important;
}
